@import "tailwindcss";

.expandButton {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  max-width: 130px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.expandSubmitButton {
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  max-width: 85px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.expandButton:hover {
  max-width: 170px;
}

.expandSubmitButton:hover {
  max-width: 130px;
}
.icon {
  font-size: 16px;
  margin-right: 15px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}

.expandSubmitButton .icon {
  margin-left: 15px;
}
.text {
  white-space: nowrap;
  padding-right: 15px;
}
